<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Demo</title>
        <script src="https://jesmine-chat.herokuapp.com/socket.io/socket.io.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="client.js"></script>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <div id="wrapper">
            <div id="informations">
                REGISTER </br>
                Name: <input type="text" id="txtName" placeholder="Name"/> </br>
                Email: <input type="text" id="txtEmail" placeholder="Email"/> </br>
                Tél: <input type="text" id="txtNumeroTelephone" placeholder="Numéro de téléphone"/> </br>
                <input type="button" id="btnRegister" value="Register"/> </br>
            </div>
            <div id="listUsers">
                <h3>List of Users</h3>
                <div id="list">
                
                </div>
            </div>
        </div>
    </body>
</html>